{% extends 'base-admin.html.twig' %}

{% block page_title %}
    Ajouter un tableau
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row">
                    <div class="col-lg-4 input-preview">
                        {% if form.vars.value is not null %}
                            <img class="preview-lg" src="{{ asset(form.vars.value.knownImage) }}" alt="{{ form.vars.value.name }}"/>
                        {% else %}
                            <img class="preview-lg" src="" alt=""/>
                        {% endif %}
                        <div class="form-group">
                            {{ form_widget(form.image) }}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.date) }}
                                    {{ form_widget(form.date) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.width) }}
                                    {{ form_widget(form.width) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_label(form.height) }}
                                    {{ form_widget(form.height) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
